body{
    font-family: Press "Press Start 2P";
    background-color: black;
    color: white;
    font-weight: 900;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-top: 100px;
    margin-right: 0px;

}

.play-again-btn button{
    font-weight: 900;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 30px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    z-index: 100;
    margin-left: 10px;
    margin-top: 10px;
}
header{
    border-bottom: 5px solid white;
    position: relative;
    margin-right: 70px;
    margin-left: 70px;
}
header h1{
    
    display: flex;
    justify-content: center;
    flex: 1 0 10rem;
    
}

header p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    
}

.question-mark-div {
    display: flex;
    justify-content: center;
    width: 100%;
    
   
}
.question-mark-div p{
    font-size: 40px;
    font-weight: solid;
    background-color: #ffffff;
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

main{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}



.left input{
    display: block;
    font-size: 80px;
    background-color: black;
    color: white;
    width: 180px;
    height: 100px;
    font-family: "Press Start 2P"
}

.left button{
    margin-top: 20px;
    font-family: "Press Start 2P";
    width: 100px;
    height: 30px;
    cursor: pointer;
}





